html { 
	margin:0; 
	padding:0; 
	border:0; 
}

body{
	background: url(/images/background.png) fixed;
	font-family: Arial;
	margin: 0px;
	padding: 0px;
	padding-bottom: 100px;
}

a:hover{
	cursor: pointer;
}

.yellow{
	color: #fbb040;
}

#modal{
	display: none;
	position: fixed;
	z-index: 1001;
}

#modal #container{
	background: url(/images/virtual_lightbox.png);
	display: block;
	height: 620px;
	width: 620px;
}

#modal #container img{
	margin: 15px 0 0 15px;
}

#modal #close{
	background: url(/images/close.png);
	display: block;
	height: 10px;
	position: absolute;
	right: 5px;
	text-indent: -999em;
	top: 5px;
	width: 10px;
}

#modal #modal-nav{
	display: block;
	list-style: none;
}

#modal #modal-nav li{
	float: left;
	position: absolute;
}

#modal #modal-nav #go-back{
	background: url(/images/back_next.png) no-repeat;
	display: block;
	height: 20px;
	text-indent: -999em;
	width: 66px;
}

#modal #modal-nav #go-back a{
	display: block;
}

#modal #modal-nav #next{
	background: url(/images/back_next.png) -98px 0px no-repeat;
	display: block;
	height: 20px;
	text-indent: -999em;
	width: 66px;
}

#modal #modal-nav #next a{
	display: block;
}

#home{
	display: none;
}

#overlay{
	background: url(/images/overlay.png);
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
}

#side-panel{
	display: none;
	height: 100%;
	left: 42px;
	position: fixed;
	width: 308px;
	z-index: 1000;
	
	/* Shadow */
	-moz-box-shadow: 0px 0px 5px 0px #333;
	-webkit-box-shadow: 0px 0px 5px 0px #333;
	box-shadow: 0px 0px 5px 0px #333;
	
}

#side-panel #header{
	background: url(/images/side_panel_headings.png);
	height: 49px;
	margin: 0 0 0 1px;
	padding: 15px 0 0 0;
	width: 307px;
}

#side-panel #header #logo{
	background: url(/images/zurich_logo.png) no-repeat;
	display: block;
	height: 33px;
	margin: 0px auto;
	width: 145px;
}

#side-panel #content{
	background: url(/images/side_content_bg.png) 0px -1px;
	display: block;
	min-height: 442px;
	padding: 64px 0;
}

#side-panel #content h1{
	color: white;
	font-family: Arial;
	font-size: 14px;
	text-align: center;
}

#side-panel #content p{
	color: white;
	font-family: Arial;
	font-size: 12px;
	margin: 36px 0 36px 0;
	padding: 0 24px;
	text-align: center;
}

#explorer-nav{
	list-style: none;
	text-align: center;
	width: 100%;
}


#explorer-nav li{
	display: block;
	margin: 0 0 2px 1px;
	width: 307px;
}

#explorer-nav li a{
	background: url(/images/side_nav_bg.png);
	color: white;
	display: block;
	height: 38px;
	line-height: 38px;
	text-decoration: none;
}

#side-panel #footer{
	background: url(/images/side_panel_headings.png) 0px -2px;
	display: block;
	margin:  0 0 0 1px;
	width: 307px;
}

#side-panel #social-media{
	display: block;
	height: 49px;
	list-style: none;
	padding: 15px 0 0 20px;
	width: 140px;
}

#social-media li{
	float: left;
	margin: 0 10px 0 0;
}

#social-media #cloud{
	background: url(/images/social_media.png) 0px 0px;
	display: block;
	height: 29px;
	width: 34px;
}

#social-media #facebook{
	background: url(/images/social_media.png) -41px 0px;
	display: block;
	height: 26px;
	width: 34px;
}

#social-media #twitter{
	background: url(/images/social_media.png) -78px 0px;
	display: block;
	height: 26px;
	width: 34px;
}

#grid{
		
}

#grid #header{
	background: url(/images/background.png);
	height: 62px;
	position: fixed;
	width: 100%;
	z-index: 900;
}

#grid #logo{
	background: url(/images/zurich_logo.png) no-repeat;
	display: block;
	float: left;
	height: 33px;
	margin: 15px 0 0 55px;
	width: 145px;
}

#nav-tabs{
	float: left;
	list-style: none;
	margin: 20px 0 0 55px;
}

#nav-tabs li{
	float: left;
}

#nav-tabs li a{
	border-right:1px solid white;
	color: white;
	display: block;
	font-size: 12px;
	margin: 0 10px 0 0;
	text-decoration: none;
	padding: 5px 10px;
}

#home-btn{
	background: url(/images/home_btn.png);
	display: block;
	float: right;
	height: 18px;
	margin: 22px 50px 0 0;
	text-indent: -999em;
	width: 18px;
}

#mini-map{
	background: url(/images/mini_map_bg.png) no-repeat;
	display: block;
	height: 125px;
	position: absolute;
	right: 100px;
	top: -5px;
	width: 195px
}


#containment-box{
	display: block;
	height: 110px;
	width: 182px;
}

#current-view-box{
	background: url(/images/current_view_box.png) no-repeat;
	display: block;
	height: 52px;
	width: 83px;
}

#main{
	display: block;
	min-height: 600px;
	width: 100%;
}

.cluster{
	list-style: none;
	position: absolute;
}

.central-box{
	background: black;
	display: block;
	height: 232px;
	position: absolute;
	top: 110px;
	left: 112px;
	width: 232px;
}

.small-box{
	background: none;
	color: white;
	display: block;
	height: 84px;
	margin: 2px;
	position: absolute;
	width: 84px;
}

.small-box a{
	display: block;
	height: 100%;
	width: 100%;
}

#cluster1{
	
}

#cluster2{
	top: 350px;
	left: 650px;
}

#cluster3{
	top: 880px;
	left: 150px;
}

#cluster4{
	left: 800px;
	top: 880px;	
}

#cluster5{
	left: 1400px;
}

#cluster6{
	left: 1469px;
	top: 880px;
}

#box1{
	top: 0px;
	left: 42px;
	}

#box2{
	top: 0px;
	left: 150px;
	}

#box3{
	top: 0px;
	left: 258px;
	}

#box4{
	top: 38px;
	left: 366px;
	}

#box5{
	top: 146px;
	left: 366px;
	}

#box6{
	top: 254px;
	left: 366px;
	}

#box7{
	top: 362px;
	left: 326px;
	}

#box8{
	top: 362px;
	left: 218px;
	}

#box9{
	top: 362px;
	left: 110px;
	}

#box10{
	top: 324px;
	left: 0px;
	}

#box11{
	top: 216px;
	left: 0px;
	}

#box12{
	top: 108px;
	left: 0px;
	}


#grid #footer{
	background: url(/images/bottom_bg.png);
	height: 64px;
	position:fixed;
	bottom:0;
	width: 100%;
}

#grid #footer #bottom-social{
	background: url(/images/side_panel_headings.png) 0px -2px;
	display: block;
	float: left;
	height: 49px;
	margin:  0 0 0 43px;
	padding: 15px 0 0 20px;
	width: 287px;
}

#grid #footer #bottom-content{
	color: white;
	float: left;
	font-size: 12px;
}

#grid #footer #bottom-content h3{
	font-size: 12px;
}

#grid #footer #bottom-content #left{
	float: left;
	margin: 10px 0 0 20px;
	width: 370px;
}

#grid #footer #bottom-content #right{
	float: left;	
	margin: 20px 0 0 40px;
	text-align: center;
	width: 180px;
}

#grid-nav{
	list-style: none;
	height: 60px;
}

#top-arrow, #right-arrow, #bottom-arrow, #left-arrow{
	color: white;
	position: fixed;
	z-index: 1000;
}

#grid-nav li a{
	color: white;
	display: block;
}

#top-arrow{
	background: url(/images/arrows.png) -39px 0px no-repeat;
	display: block;
	top: 70px;
	left: 650px;
	height: 24px;
	text-indent: -999em;
	width: 34px;
}

#right-arrow{
	background: url(/images/arrows.png) -129px 0px no-repeat;
	right: 20px;
	top: 300px;
	height: 34px;
	text-indent: -999em;
	width: 24px;
}

#bottom-arrow{
	background: url(/images/arrows.png) -89px 0px no-repeat;
	bottom: 70px;
	left: 650px;
	height: 24px;
	text-indent: -999em;
	width: 34px;
}

#left-arrow{
	background: url(/images/arrows.png) 0px 0px no-repeat;
	left: 20px;
	top: 300px;
	height: 34px;
	text-indent: -999em;
	width: 24px;
}

/* Photo Gallery */
#photo-gallery-box{
	background: url(/images/gallery_bg.png);
	display: none;
	height: 500px;
	margin: auto;
	position: absolute;
	top: 80px;
	width: 884px;
	z-index: 10001;
}

#photos-container{
	background: #EBEEF7;
	display: block;
	height: 436px;
	margin: 20px auto 0 auto;
	overflow: auto;
	padding: 20px 0 0 40px;
	width: 773px;
}

#american-experience{
	background: blue;
}

#photo-gallery-nav{
	clear: both;
	list-style: none;
	float: right;
	margin: 0 60px 10px 0;
}

#photo-gallery-nav li{
	color: gray;
	float: left;
	font-size: 12px;
	font-weight: bold;
	margin: 0 20px 0 0;
}

#photo-gallery-nav #thumbnails-link{
	border-right: 1px solid blue;
	padding: 0 20px 0 0;
}

#photo-gallery-nav #slideshow-link{
	margin:  0 0 0 0;
}

#photo-gallery-nav li a{
	color: #2762AD;
	text-decoration: none;
}

#photo-thumbs{
	list-style: none;
}

#photo-thumbs li{
	display: block;
	float: left;
	height: 109px;
	margin: 0 20px 20px 0;
	padding: 15px 0 0 0;
	width: 124px;
}

#preview-box{
	background: #2774c7;
	display: none;
	height: 250px;
	position: absolute;
	/*width: 316px;*/
	padding: 0px 10px;
}

#preview-image{
	background: white;
	display: block;
	height: 194px;
	margin: 10px auto 2px auto;
	max-width: 293px;
}

.preview-link{
	display: block;
	height: 100%;
	width: 100%;
}

#caption{
	clear: both;
	color: white;
	display: block;
	float: left;
	font-size: 12px;
	height: 30px;
	margin: 0 0 0 11px;
	max-width: 293px;
	overflow: hidden;
}

#photo-slideshow{
	display: none;
}

#slide-overlay{
	background: url(/images/overlay.png);
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 10001;
}

#slide-container{
	background: url(/images/panel_bg.png);
	display: none;
	height: 556px;
	position: absolute;
	top: 80px;
	width: 723px;
	z-index: 10002;
}

#image-holder{
	background: #EBEEF7;
	display: block;
	height: 438px;
	margin: 24px 0 0 30px;
	overflow: hidden;
	width: 665px;
}

#slide-caption{
	color: white;
	font-size: 12px;
	margin: 10px 0 0 30px;
}

#slide-left{
	background: url(/images/back_next.png) no-repeat;
	height: 19px;
	position: absolute;
	left: -80px;
	top: 278px;
	text-indent: -999em;
	width: 66px;
}

#slide-right{
	background: url(/images/back_next.png) -100px 0 no-repeat;
	height: 19px;
	position: absolute;
	left: 748px;
	text-indent: -999em;
	top: 278px;
	width: 66px;
}

#test-your-knowledge-box{
	background: url(/images/gallery_bg.png);
	display: none;
	height: 500px;
	margin: auto;
	position: absolute;
	top: 80px;
	width: 884px;
	z-index: 10001;
}

#quiz-container{
	background: #EBEEF7;
	display: block;
	height: 436px;
	margin: 20px auto 0 auto;
	overflow: auto;
	padding: 20px 0 0 40px;
	width: 773px;
}

#quiz-knowledge{
	display: block;
	float: left;
	height: 348px;
	width: 360px;
}

#social-media-box{
	background: white;
	border: 1px solid #92A2C4;
	float: left;
	height: 405px;
	margin: 5px 0 0 80px;
	width: 305px;
}

#quiz-container #next{
	background: url(/images/next_yellow.png);
	display: block;
	float: right;
	height: 18px;
	margin: 0 10px 0 0;
	text-indent: -999em;
	width: 58px;
}

#quiz-container h2{
	color: #003e7e;
	font-size: 18px;
	margin: 20px 0 0 0;
}

.question-count{
	color: #f7941e;
	font-size: 14px;
	margin: 0 0 20px 0;
}

.question{
	color: #003e7e;
	font-size: 14px;
	margin: 0 0 20px 0;
}

#quiz-container input[type='radio']{
	
}

#quiz-container label{
	color: #003e7e;
	font-size: 13px;
}

.answers{
	margin: 0 0 20px 0;
}

#face_twitter{
	list-style: none;
	margin: 20px 0 0 15px;
}

#face_twitter li{
	float: left;
	margin: 0 10px 0 0;
}

#face_twitter li a{
	color: #f7941e;
	font-size: 12px;
	text-decoration: none;
}

#face_twitter #facebook{
	border-right: 1px solid #f7941e;
	padding: 0 10px 0 0;
}

.update{
	color: #003e7e;
	clear: both;
	font-size: 12px;
	padding: 10px 35px;;
}

.gray{
	color: gray;
}

#social-media-box h3{
	color: #003e7e;
	font-size: 13px;
	margin: 60px 0 20px 35px;
}

.title-line{
	background: #F89B2D;
	color: #F89B2D;
}

#social-media-box hr{
	width: 236px;
}

#quiz-results{
	display: none;
	margin: 50px 0 0 0;
	padding: 20px 0 0 0;
}

#quiz-results h1{
	color: #f7941e;
	font-size: 24px;
	text-align: center;
	margin: 10px 0 0 0;
}

#quiz-results p{
	color: #003E7E;
	margin: 15px 0 0 0;
	padding: 10px;
	text-align: center;
}

#share-score{
	background: url(/images/share_score.png);
	display: block;
	height: 26px;
	margin: 20px 0 0 75px;
	text-align: center;
	text-indent: -999em;
	width: 216px;
}

.yellow{
	color: #f7941e;
}

.clear{
	clear: both;
}