html { 
	margin:0; 
	padding:0; 
	border:0; 
}

body{
	background: url(/images/pinstripe_single_30percent.gif) fixed;
	font-family: Arial;
	margin: 0px;
	padding: 0px;
	padding-bottom: 100px;
}

a{
	text-decoration: none;
}

a:hover{
	cursor: pointer;
	text-decoration: none;
}

.yellow{
	color: #fbb040;
}

.white{
	color: white;
}

.left-round{
	border-radius: 12px 0 0 0; 
	-moz-border-radius: 12px 0 0 0; 
	-webkit-border-radius: 12px 0 0 0;
}

#modal{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1001;
}

#modal #container{
	background: url(/images/virtual_lightbox.png);
	display: block;
	height: 620px;
	width: 620px;
}

#modal #container img{
	margin: 15px 0 0 15px;
}

#modal-pic{
	display: none;
}

#modal #close{
	background: url(/images/close.png);
	display: block;
	height: 10px;
	position: absolute;
	right: 5px;
	text-indent: -999em;
	top: 5px;
	width: 10px;
}

#close-slideshow{
	background: url(/images/close.png);
	display: block;
	height: 10px;
	position: absolute;
	right: 5px;
	text-indent: -999em;
	top: 5px;
	width: 10px;
}

#modal #container #tab{
	background: white;
	bottom: 0px;
	cursor: pointer;
	display: none;
	height: 52px;
	overflow: hidden;
	position: absolute;
	right: 60px;
	width: 154px;
	
	border-radius: 10px 10px 0 0; 
	-moz-border-radius: 10px 10px 0 0; 
	-webkit-border-radius: 10px 10px 0 0;
	
}

#tab-title{
	background: #FBB03F;
	color: white;
	display: block;
	font-weight: bold;
	height: 42px;
	padding: 10px 0px 0 0;
	text-align: center;
	
	/*text-shadow:1px 1px 1px #000;*/
	
	border-radius: 10px 10px 0 0; 
	-moz-border-radius: 10px 10px 0 0; 
	-webkit-border-radius: 10px 10px 0 0;
	
	font-size:15px;
}

#tab-title.industry18{
	background-image:url('/images/tabs/1.png');
	background-repeat:no-repeat;
	background-position:90%;	
	padding-right:35px;
}

#tab-content{
	background: white;
	color: #005CAB;
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
}

#modal #container.mainitem #tab{
	display: block;
}

#modal #modal-nav{
	display: block;
	list-style: none;
}

#modal #modal-nav li{
	float: left;
	position: absolute;
}

#modal #modal-nav #go-back{
	background: url(/images/back_next.png) 0px 20px no-repeat;
	display: block;
	height: 60px;
	text-indent: -999em;
	width: 120px;
}

#modal #modal-nav #go-back a{
	display: block;
	height: 100%;
	width: 100%;
}

#modal #modal-nav #next{
	background: url(/images/back_next.png) -98px 20px no-repeat;
	display: block;
	height: 60px;/* 20px; */
	text-indent: -999em;
	width: 120px;/* 66px; */
}

#modal #modal-nav #next a{
	display: block;
	height: 100%;
	width: 100%;
}

#home{
	display: none;
}

#overlay{
	background: url(/images/overlay.png);
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 950;
}

#side-panel{
	display: none;
	height: 100%;
	left: 42px;
	position: fixed;
	width: 308px;
	z-index: 1000;
	
	/* Shadow */
	-moz-box-shadow: 0px 0px 5px 0px #333;
	-webkit-box-shadow: 0px 0px 5px 0px #333;
	box-shadow: 0px 0px 5px 0px #333;
	
	
	
}

#side-panel #header{
	background: url(/images/side_panel_headings.png);
	height: 49px;
	margin: 0 0 0 1px;
	padding: 15px 0 0 0;
	width: 307px;
	
	/* Shadow. */
	-moz-box-shadow: 0px 2px 10px 1px #000;
	-webkit-box-shadow: 0px 2px 10px 1px #000;
	box-shadow: 0px 2px 10px 1px #000;
	
	border-bottom:2px solid #0b0b0b;
	position:relative;
	z-index:999999;
}

#side-panel #header #logo{
	background: url(/images/zurich_logo.png) no-repeat;
	display: block;
	height: 33px;
	margin: 0px auto;
	width: 145px;
}

#side-panel #content{
	background: url(/images/pinstripe_single_30percent.gif) 0px -1px;
	display: block;
	min-height: 442px;
	padding: 64px 0;
}

#side-panel #content h1{
	color: white;
	font-family: Arial;
	font-size: 14px;
	text-align: center;
	font-weight:bold;
	line-height:10px;
}

#side-panel #content p{
	color: white;
	font-family: Arial;
	font-size: 12px;
	margin: 36px 0 36px 0;
	padding: 0 24px;
	text-align: center;
	overflow: hidden;
	max-height: 260px;
	line-height:17px;
}

#explorer-nav{
	list-style: none;
	text-align: center;
	width: 100%;
}


#explorer-nav li{
	display: block;
	margin: 0 0 2px 1px;
	width: 307px;
}

#explorer-nav li a{
	background: url(/images/side_nav_bg.png);
	color: white;
	display: block;
	height: 38px;
	line-height: 38px;
	text-decoration: none;
}

#side-panel #footer{
	background: url(/images/side_panel_headings.png) 0px -2px;
	display: block;
	margin:  0 0 0 1px;
	width: 307px;
	

		/* Shadow. */
	-moz-box-shadow: 0px -2px 10px 1px #000;
	-webkit-box-shadow: 0px -2px 10px 1px #000;
	box-shadow: 0px -2px 10px 1px #000;
	
	border-top:2px solid #0b0b0b;	
}

#side-panel #social-media{
	display: block;
	height: 49px;
	list-style: none;
	padding: 15px 0 0 20px;
	width: 280px;
}

#social-media li{
	float: left;
	margin: 0 10px 0 0;
}

#social-media #cloud{
	background: url(/images/social_media.png) 0px 0px;
	display: block;
	height: 29px;
	width: 34px;
}

#social-media #facebook{
	background: url(/images/social_media.png) -41px 0px;
	display: block;
	height: 26px;
	width: 34px;
}

#social-media #twitter{
	background: url(/images/social_media.png) -78px 0px;
	display: block;
	height: 26px;
	width: 34px;
}

#grid{
		
}

#grid #header{
	background: url(/images/pinstripe_double_30percent.gif);
	height: 62px;
	position: fixed;
	width: 100%;
	z-index: 900;
	
	/* Shadow. */
	-moz-box-shadow: 0px 2px 10px 1px #000;
	-webkit-box-shadow: 0px 2px 10px 1px #000;
	box-shadow: 0px 2px 10px 1px #000;
	
	border-bottom:2px solid #0b0b0b;
}


/* Help Text. */
#help-button{
	color: #F8941E;
    font-size: 12px;
    position: fixed;
    right: 41px;
    top: 82px;
    z-index: 6;
}

#help-box{
	background: white;
	display: none;
	height: 215px;
	position: fixed;
	right: 25px;
	top: 62px;
	width: 282px;
	z-index: 5;
	
	/* Rounded Corner. */
	border-radius: 0 0 5px 5px; 
	-moz-border-radius: 0 0 5px 5px; 
	-webkit-border-radius: 0 0 5px 5px;
	
}


#help-box #tips{
	background: #F8941E;
    color: white;
    font-size: 13px;
    height: 15px;
    line-height: 16px;
    margin: 70px 0 0;
    padding: 0 0 0 30px;
    width: 252px;
}

#help-box #instructions{
	color: #003E7E;
	font-size: 11px;
    list-style: disc inside none;
    padding: 20px 30px;
}

#help-box #instructions li{
	margin: 0 0 5px 0;
}


#grid #logo{
	background: url(/images/zurich_logo.png) no-repeat;
	display: block;
	float: left;
	height: 33px;
	margin: 15px 0 0 55px;
	width: 145px;
}

#nav-tabs{
	float: left;
	list-style: none;
	margin: 20px 0 0 55px;
}

#nav-tabs li{
	float: left;
}

#nav-tabs li a{
	border-right:1px solid white;
	color: white;
	display: block;
	font-size: 12px;
	margin: 0 10px 0 0;
	text-decoration: none;
	padding: 5px 10px;
}

#nav-tabs li a.no-border{
	border-right: none;
}

#home-btn{
	background: url(/images/home_btn.png);
	display: block;
	float: right;
	height: 18px;
	margin: 22px 50px 0 0;
	text-indent: -999em;
	width: 18px;
}

#mini-map{
	background: url(/images/mini_map_bg.png) no-repeat;
	display: block;
	height: 125px;
	position: absolute;
	right: 100px;
	top: -5px;
	width: 195px
}


#containment-box{
	display: block;
	height: 110px;
	width: 182px;
}

#current-view-box{
	background: url(/images/current_view_box.png);
	cursor: move;
	display: block;
	height: 52px;
	width: 83px;
}

#main{
	display: block;
	min-height: 600px;
	width: 100%;
}

#virtual-exhibit{
	height: 1350px;
	width: 2205px;
}

#lines{
	background: url(/images/dotted_lines.png) no-repeat;
	display: block;
	height: 100%;
	position: absolute;
	left: 417px;
	top: 428px;
	width: 100%;	
}

.cluster{
	list-style: none;
	position: absolute;
}

.central-box{
	/*background: black;*/
	display: block;
	height: 232px;
	position: absolute;
	top: 118px;
	left: 120px;
	width: 232px;
}

.central-box img{
	width: 232px;
}

.small-box{
	background: none;
	color: white;
	display: block;
	height: 84px;
	margin: 2px;
	position: absolute;
	width: 84px;
}

.small-box a{
	display: block;
	height: 100%;
	width: 100%;
}

#cluster1{
	top:220px;
	left: 200px;
}

#cluster2{
	top: 298px;
	left: 836px;
}

#cluster3{
	top: 799px;
	left: 377px;
}

#cluster4{
	left: 962px;
	top: 796px;	
}

#cluster5{
	left: 1473px;
	top: 215px;
}

#cluster6{
	left: 1538px;
	top: 796px;
}

#box1{
	top: 14px;
	left: 48px;
	}

#box2{
	top: 14px;
	left: 156px;
	}

#box3{
	top: 14px;
	left: 264px;
	}

#box4{
	top: 47px;
	left: 366px;
	}

#box5{
	top: 155px;
	left: 366px;
	}

#box6{
	top: 263px;
	left: 366px;
	}

#box7{
	top: 362px;
	left: 334px;
	}

#box8{
	top: 362px;
	left: 226px;
	}

#box9{
	top: 362px;
	left: 118px;
	}

#box10{
	top: 332px;
	left: 15px;
	}

#box11{
	top: 224px;
	left: 15px;
	}

#box12{
	top: 116px;
	left: 15px;
	}


#grid #footer{
	background: url(/images/bottom_bg.png) no-repeat #02296A;
	height: 64px;
	position:fixed;
	bottom:0;
	width: 100%;
	
		/* Shadow. */
	-moz-box-shadow: 0px -2px 10px 1px #000;
	-webkit-box-shadow: 0px -2px 10px 1px #000;
	box-shadow: 0px -2px 10px 1px #000;
	
	border-top:2px solid #0b0b0b;
	
	
}

#grid #footer #bottom-social{
	background: url(/images/side_panel_headings.png) 0px -2px;
	display: block;
	float: left;
	height: 49px;
	margin:  0 0 0 43px;
	padding: 15px 0 0 20px;
	width: 287px;
}

#grid #footer #bottom-content{
	color: white;
	font-size: 12px;
	margin: 0 50px 0 0;
	/*width:100%;*/

	
}

#grid #footer #dyk-nav{
	float: right;
	margin: 0 160px 0 0;
	width: 40px;
}

#grid #footer #dyk-nav li{
	list-style: none;float:left;	
}

#grid #footer #dyk-nav li a{
	
}

#grid #footer #dyk-nav li a#dyk-back{
	background: url(/images/dyk_nav.png);
	display: block;
	float: left;
	text-indent: -999em;
	width: 10px;
}

#pipe{
	float: left;
	margin: 0 3px 0 0;
}

#grid #footer #dyk-nav li a#dyk-next{
	background: url(/images/dyk_nav.png) -25px 0px no-repeat;
	display: block;
	float: left;
	text-indent: -999em;
	width: 10px;
}

#grid #footer #bottom-content h3{
	font-size: 12px;
}

#grid #footer #bottom-content #left{
	margin: 10px 0 0 380px;	

}

#grid #footer #bottom-content #right{
	float: right;	
	text-align: center;
	width: 180px;
	float:right;
	height:100px;
}

@media screen and (min-device-width:481px) and (orientation:portrait){
	#grid #footer #bottom-content #right{
		display:none;
	}
}

#grid-nav{
	list-style: none;
	height: 60px;
}

#top-arrow, #right-arrow, #bottom-arrow, #left-arrow{
	color: white;
	position: fixed;
	z-index: 1000;
}

#grid-nav li a{
	color: white;
	display: block;
}

#top-arrow{
	background: url(/images/arrows.png) -39px 0px no-repeat;
	display: block;
	top: 70px;
	left: 650px;
	height: 24px;
	text-indent: -999em;
	width: 34px;
}

#right-arrow{
	background: url(/images/arrows.png) -129px 0px no-repeat;
	right: 20px;
	top: 300px;
	height: 34px;
	text-indent: -999em;
	width: 24px;
}

#bottom-arrow{
	background: url(/images/arrows.png) -89px 0px no-repeat;
	bottom: 70px;
	left: 650px;
	height: 24px;
	text-indent: -999em;
	width: 34px;
}

#left-arrow{
	background: url(/images/arrows.png) 0px 0px no-repeat;
	left: 20px;
	top: 300px;
	height: 34px;
	text-indent: -999em;
	width: 24px;
}

/* Photo Gallery */
#photo-gallery-box{
	background: url(/images/gallery_bg.png);
	background-size:100%;
	display: none;
	height: 500px;
	margin: auto;
	position: absolute;
	top: 80px;
	/*width: 884px;*/
	width: 75%;
	z-index: 10001;
}

#photos-container{
	background: #EBEEF7;
	display: block;
	height: 436px;
	margin: 20px auto 0 auto;
	/*overflow: auto;*/
	padding: 20px 0 0 40px;
	/*width: 773px;*/
	width:91%;
	
	/* Rounded Corner. */
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	
}

#gallery-container{
	overflow: hidden;
	height: 360px;
}

#scroll-cover{
	background: #EBEEF7;
	display: none;
	height: 380px;
	position: absolute;
	right: 30px;
	top: 60px;
	width: 40px;
}

#photo-scroll{
	background: white;
	display: none;
	height: 360px;
	position: absolute;
	right: 50px;
	top: 80px;
	width: 3px;
}

#scroll-btn{
	background: url(/images/scroll_control.png) no-repeat;
	cursor: move;
	display: block;
	height: 54px;
	position: absolute;
	left: -1px;
	width: 50px;
}

#american-experience{
	background: url(/images/gallery_overlay.png);
	height: 392px;
    margin: 0 0 0 50px;
    padding: 65px 30px 0;
    position: absolute;
    text-align: center;
    top: 19px;
    left: 76px;
    width: 252px;
}

#close-ae{
	display: block;
    height: 15px;
    position: absolute;
    right: 9px;
    top: 1px;
    width: 15px;
}

#open-ae{
	background: url("/images/ae_open.png") repeat scroll 0 0 transparent;
    display: none;
    height: 15px;
    position: absolute;
    right: 0;
    top: -2px;
    width: 18px;
}

#american-experience p{
	font-size: 12px;
	margin: 40px 0 0 0;
}

#photo-gallery-nav{
	clear: both;
	list-style: none;
	float: right;
	margin: 0 60px 10px 0;
}

#photo-gallery-nav li{
	color: gray;
	float: left;
	font-size: 12px;
	font-weight: bold;
	margin: 0 20px 0 0;
}

#photo-gallery-nav #thumbnails-link{
	border-right: 1px solid blue;
	padding: 0 20px 0 0;
}

#photo-gallery-nav #slideshow-link{
	margin:  0 0 0 0;
}

#photo-gallery-nav li a{
	color: #2762AD;
	text-decoration: none;
}

#photo-thumbs{
	list-style: none;
}

#photo-thumbs li{
	display: block;
	float: left;
	height: 109px;
	margin: 0 20px 20px 0;
	padding: 15px 0 0 0;
	width: 124px;
}

#preview-box{
	background: #2774c7;
	display: none;
	height: 250px;
	position: absolute;
	/*width: 316px;*/
	*max-width: 316px;
	padding: 0px 10px;
	z-index: 900;
}

#preview-image{
	background: #2774c7;
	display: block;
	height: 194px;
	margin: 10px auto 2px auto;
	max-width: 293px;
}

.preview-link{
	display: block;
	height: 100%;
	line-height: 200px;
	text-align: center;
	width: 100%;
}

#caption{
	clear: both;
	color: white;
	display: block;
	float: left;
	font-size: 12px;
	height: 30px;
	margin: 0 0 0 11px;
	max-width: 293px;
	overflow: hidden;
}

#photo-slideshow{
	display: none;
}

#slide-overlay{
	background: url(/images/overlay.png);
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 10001;
}

#slide-container{
	background: url(/images/panel_bg.png);
	display: none;
	height: 556px;
	position: absolute;
	top: 80px;
	width: 723px;
	z-index: 10002;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;


}

#image-holder{
	/*background: #EBEEF7;*/
	display: block;
	height: 438px;
	margin: 24px 0 0 30px;
	overflow: hidden;
	width: 665px;
	text-align:center;
}

#slide-image{
	max-width:665px;
	max-height:438px;
	margin-left:auto;
	margin-right:auto;
}



#slide-caption{
	color: white;
	font-size: 12px;
	margin: 10px 0 0 30px;
	height: 70px;
	overflow: auto;
}

#slide-left{
	background: url(/images/back_next.png) no-repeat;
	height: 19px;
	position: absolute;
	left: -89px;
	top: 278px;
	text-indent: -999em;
	width: 66px;
}

#slide-right{
	background: url(/images/back_next.png) -100px 0 no-repeat;
	height: 19px;
	position: absolute;
	left: 748px;
	text-indent: -999em;
	top: 278px;
	width: 66px;
}

#test-your-knowledge-box{
	background: url(/images/gallery_bg.png);
	display: none;
	height: 500px;
	margin: auto;
	position: absolute;
	top: 80px;
	width: 884px;
	z-index: 10001;
}

#quiz-container{
	background: #EBEEF7;
	display: block;
	height: 436px;
	margin: 20px auto 0 auto;
	overflow: auto;
	padding: 20px 0 0 40px;
	width: 773px;
	
	/* Rounded Corner. */
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

#quiz-knowledge{
	display: block;
	float: left;
	height: 348px;
	padding: 40px;
    width: 650px
}

#social-media-box{
	background: white;
	border: 1px solid #92A2C4;
	float: left;
	height: 405px;
	margin: 5px 0 0 80px;
	width: 305px;
}

#quiz-container #next{
	background: url(/images/next_yellow.png);
	display: block;
	float: right;
	height: 18px;
	margin: 0 10px 20px 0;
	text-indent: -999em;
	width: 58px;
}

#quiz-container #continue{
	background: url(/images/continue.png);
	display: none;
	float: right;
	height: 18px;
	margin: 0 10px 0 0;
	text-indent: -999em;
	width: 78px;
}

#quiz-container h2{
	color: #003e7e;
	font-size: 24px;
	font-weight: bold;
	margin: 20px 0 0 0;
}

#wrong-answer-feedback{
	color: red;
	font-size: 13px;
    margin: 0 0 10px;
    padding: 5px;
}

.question-count{
	color: #f7941e;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 20px 0;
}

.question{
	color: #003e7e;
	font-size: 14px;
	margin: 0 0 20px 0;
}

#quiz-container input[type='radio']{
	
}

#quiz-container label{
	color: #003e7e;
	font-size: 13px;
}

.answers{
	margin: 0 0 20px 0;
}

#face_twitter{
	list-style: none;
	margin: 20px 0 0 15px;
}

#face_twitter li{
	float: left;
	margin: 0 10px 0 0;
}

#face_twitter li a{
	color: #f7941e;
	font-size: 12px;
	text-decoration: none;
}

#face_twitter #facebook{
	border-right: 1px solid #f7941e;
	padding: 0 10px 0 0;
}

.update{
	color: #003e7e;
	clear: both;
	font-size: 12px;
	padding: 10px 35px;;
}

.gray{
	color: gray;
}

#social-media-box h3{
	color: #003e7e;
	font-size: 13px;
	margin: 60px 0 20px 35px;
}

.title-line{
	background: #F89B2D;
	color: #F89B2D;
}

#social-media-box hr{
	width: 236px;
}

#quiz-results{
	display: none;
	margin: 50px 0 0 0;
	padding: 20px 0 0 0;
}

#quiz-results h1{
	color: #f7941e;
	font-size: 24px;
	text-align: center;
	margin: -30px 0 0 0;
	font-weight: bold;
}

#quiz-results p{
	color: #003E7E;
	margin: 20px 0 70px 0px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}

.f18{
	font-size: 18px!important;
}

#share-score{
	background: url(/images/share_score.png);
	display: block;
	height: 26px;
	margin: 20px 0 0 75px;
	text-align: center;
	text-indent: -999em;
	width: 216px;
}

#back-to-exhibit{
	background: url(/images/back_to_exhibit.png);
	display: block;
	height: 26px;
	margin: 20px 0 0 75px;
	text-align: center;
	text-indent: -999em;
	width: 216px;
}

.yellow, .yellow a{
	color: #f7941e;
	text-decoration:none;
}

.clear{
	clear: both;
}


/* begin scott 8162012 */
#content{
   box-shadow: 11px 0px 54px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 11px 0px 54px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 11px 0px 54px rgba(0, 0, 0, 0.59);
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#000000');
}

.cluster .small-box img{
	height:85px;
	width:85px;
}

#virtual-exhibit-link{
	background-image:url('/images/nav_virtualExhibit.png');
	background-repeat:no-repeat;
	background-position:12px;
	width:87px;
	height:12px;
	text-indent:-9999px;
}

#virtual-exhibit-link{
	background-image:url('/images/nav_virtualExhibit.png');
	background-repeat:no-repeat;
	background-position:12px;
	width:95px;
	height:12px;
	text-indent:-9999px;
}

#photo-gallery-link{
	background-image:url('/images/nav_exhibitphotoGallery.png');
	background-repeat:no-repeat;
	background-position:12px;
	width:145px;
	height:13px;
	text-indent:-9999px;
}

#test-your-knowledge{
	background-image:url('/images/nav_testYourKnowledge.png');
	background-repeat:no-repeat;
	background-position:12px;
	width:145px;
	height:13px;
	text-indent:-9999px;
}


#pause{
	background-image:url('/images/pause.png');
	height:31px;
	width:95px;
	background-repeat:no-repeat;
	text-indent:-9999px;
	margin-left:300px;
	margin-top:30px;
	cursor:pointer;
	float:left;
	position:absolute;
}

#pause.paused
{
	background-image:url('/images/resume.png');
}


#photos-container, #photo-gallery-box, #test-your-knowledge-box,#quiz-container, .cluster .central-box, .cluster .small-box{
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.65);/*4px 5px 31px rgba(0, 0, 0, 0.99);*/
    -moz-box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.65);/*4px 5px 31px rgba(0, 0, 0, 0.99);*/
    -webkit-box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.65);/*4px 5px 31px rgba(0, 0, 0, 0.99);*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');



}
/*end scott 8162012 */

#socialMedia_Twitter{
	display:none;
}

/*twitter social media jaunts */ 

ul#twitter_update_list li{
	display:block;
	font-size: 10px;
	line-height:13px;
	border-bottom: 1px solid #E3E3E0;
	padding-top:5px;
	margin:0px 20px;

}

#twitter_div a {
	display:block;
	text-align:right;
	font-weight:normal;
	font-style:italic;
	color:#414141;
	text-transform:none;
	
}
#twitter_div span a{
	display:inline;
	font-size: 14px;
	font-weight:normal;
	color:navy;
	
}

/* end twitter johnnies */
		
		

#photo-slideshow{
	display: none;
}

#slide-overlay-standalone{
	background: url(/images/overlay.png);
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 10001;
}

#slide-container-standalone{
	background: url(/images/panel_bg.png);
	display: none;
	height: 556px;
	position: absolute;
	top: 80px;
	width: 723px;
	z-index: 10002;
}

#image-holder-standalone{
/*	background: #EBEEF7;*/
	display: block;
	max-height: 438px;
	margin: 24px 0 0 30px;
	overflow: hidden;
	max-width: 665px;
	text-align:center;
}

#slide-image-standalone{
	max-width:665px;
	max-height:438px;
	margin-left:auto;
	margin-right:auto;
}

#slide-caption-standalone{
	color: white;
	font-size: 12px;
	margin: 10px 0 0 30px;
	max-height: 70px;
	overflow: auto;
}		
		
#close-slideshow-standalone{
	background: url(/images/close.png);
	display: block;
	height: 10px;
	position: absolute;
	right: 5px;
	text-indent: -999em;
	top: 5px;
	width: 10px;
}


.industry-info-indicator{
	background: #F7941E;
    bottom: 0;
    display: block;
    height: 10px;
    position: absolute;
    right: 0;
    width: 30px;
}

.small-box a .industry-info-indicator{
	bottom: -1px;
	right: -1px;
}

#window-resized{
	display:none;
	position:absolute;
	left:40%;
	top:40%;
	z-index:99999;
	width:20%;
	min-width:150px;
	text-align:center;
	background-color:white;
	padding:10px;
	
	border:3px solid black;
	
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 1);/*4px 5px 31px rgba(0, 0, 0, 0.99);*/
    -moz-box-shadow: 5px 0px 10px rgba(0, 0, 0, 1);/*4px 5px 31px rgba(0, 0, 0, 0.99);*/
    -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 1);/*4px 5px 31px rgba(0, 0, 0, 0.99);*/
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');	
	
	/* Rounded Corner. */
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	
}


.twitter-share-button{
	float: left;
	margin: 0px 0 0 0!important;
	width: 85px!important;
}

.pls{
	display: none!important;
}

#facebook-link{
	display: block;
	height: 40px;
	width: 48px;
	overflow: hidden;
	margin: 5px 5px 0 0!important;
}

#twitter-link{
	width: 55px;
	height: 40px;
	overflow: hidden;
	margin: 5px 0 0 0!important;
}

#social-media #twitter-link{
	/*margin: -5px 0 0 0!important;*/
}

#copyright{
	color: white;
	font-size: 10px;
	margin: 3px 0 0 15px!important;
	list-style: none;	
}

#terms{
	float: left;
	color: white;
	text-decoration: none;
}

#bar{
	float: left;
	margin: 0 5px 0 5px;
}

#copyryr{
	float: left;
}

#btn_ve{
	background: url(/images/btn_find_ve.png) no-repeat;
	float: left;
    height: 30px;
    margin: 0 0 0 90px;
    text-indent: -999em;
    width: 240px;
}

#btn_pg{
	background: url(/images/btn_see_pg.png) no-repeat;
	display: block;
    float: left;
    height: 30px;
    margin: 1px 0 0 15px;
    text-indent: -999em;
    width: 220px;
}